/*Header */
*{
    box-sizing: border-box;
    margin: 0;
    position: 0;
}
.large-header {
	position: relative;
	width: 100%;
	background: #3E4651; /* position on image*/
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.animatedHeader .large-header {
	background-image: url(../img/Header.png);
	background-position: center bottom;
    width: 100%;
    background-color: #3E4651;
}
#main-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
    
}

#logo{
    width: 100%;
}
	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }

.arrow-light { /** white arrow in header **/
    display: inline-block;
    position:absolute;
    top: 90%;
    outline: #3E4651;
    left:50%;
    transform: translateX(-50%);/** transfms x axisor **/
    color: #fff; /** text **/ 
    text-align: center;
    font-size: 2em;
    border: solid 2px;
    padding: 10px 20px;
}
.arrow-light:hover,
.arrow-light:active {
  color: #5EC6AB;
border: solid 2px #5ec6ab;
    
}.arrow-up { /** white arrow in header **/
    display: inline-block;
    position:fixed;
    top: 90%;
    color: #5EC6AB;
    right: 2%; /** right **/
    text-align: right;
    font-size: 1.5em;
    border: 2px solid #5EC6AB;
    padding: 10px 20px;
}
.arrow-up:hover,
.arrow-up:active{
    color: #fff;
    border: solid 2px #fff;
}

.arrow-dark{ /** Contact me **/
    padding: 10px 20px;
    border: 1px solid #3E4651;
    text-align: center;
    text-decoration: none;
    color: #3E4651;
    font-size: 1em;

}
.arrow-dark:hover,
.arrow-dark:active{
    background-color: #3E4651;
    text-align: center;
    color: #fff;
}
#me{
    width: 250px;
    border-radius: 100%;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin-right: 5%;
    padding: 0;
    overflow: hidden;
}
ul.topnav li {float: right;}
ul.topnav li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: raleway, sans-serif;
    letter-spacing: 2px;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: #fff;
    color: #3E4651;
}
body{
    background-color: #E7E7E7;
}
h2{
    line-height: 20px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    padding-bottom: 20px;
}
h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: left;
    
}
h4{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center; 
}
p{
    padding-bottom: 10px;
}
#footer-text{
   color: #fff; 
}
section{
    margin-left: 100px;
    margin-right: 100px;
    font-family: raleway, sans-serif;
    font-size: 20px;
    line-height: 1.45;
    color: #293d3d;
    margin-top: 200px;
}

@media only screen and (max-width: 720px) {
    section{
        margin-left: 40px;
        margin-right: 40px;
    }
}
.title{
    text-align: center;    
}
/***socials **/
.social{
    text-align: center; 
    padding: 20px 20px;
}
.social a{
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.social a:hover,
.social a:active{
    color: #5EC6AB;
}

/****************************************/
#contact{
    text-align: center;
}
.arrow{
    text-align: center;
    margin-top: 2%;
}

footer{
    background-color:#3E4651;
    height: 130px;
}

.break{
    font-family: areil;
    font-size: 4em;
    text-align: center;
    letter-spacing: 20px;
    color: #c7c7c7;
    padding-top:100px;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}



/**
 * Flexbox
 */

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flexbox.pull-horz-center {
  justify-content: center;
  align-content: flex-start;
}
.flexbox.pull-vert-center {
  justify-content: flex-start;
  align-content: center;
}
.flexbox>* {
    padding:0;
    position:relative;
    margin: 0 10px 10px 10px;
    -webkit-flex: 0 0 0px;
    flex: 0 0 0px;
}
.flexbox.grid>* {
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
}

@media only screen and (max-width: 720px) {
    .flexbox {
        flex-direction: column;
    }
}
